/*
***************************************************
********** GLOBAL ELENET STYLES ******************
**************************************************
*/
html,
body {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 18px;
}

/* App scrollbar design*/
/* 4px scroll thumb. 10px margin from right margin */
*:-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 4px transparent;
  border-radius: 14px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*:focus {
  outline: none !important;
}

p {
  margin: 0px !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

label {
  color: #fff;
}

.container-fluid {
  margin: 0 !important;
}

.card {
  border-radius: 15px !important;
  box-shadow: 1px 1px 10px rgb(172, 172, 172);
}

.h-75px {
  height: 75px;
}

.text-white {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-black {
  background-color: black;
}

.title{
  font-size: 2.25rem;
  font-weight: bold;
}

.btn-active{
  background-color: rgb(224, 72, 72) !important;
  color: white !important;
}

/*
***************************************************
**************** LOGIN PART **********************
**************************************************
*/

/*
LEFT BACKGROUND PART ========================
*/

.login-background {
  background-image: url("./pics/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.v-hidden {
  visibility: hidden;
}

/*
RIGHT FORM PART =============================
*/

.login-form input {
  background-color: transparent !important;
  border: 0px solid #000;
  border-bottom: 1px solid rgb(255, 100, 100);
  color: #fff;
  padding: 0.35rem 0.75rem;
}

/*
***************************************************
********** LEFT MENU PANEL STYLES ****************
**************************************************
*/

.nav {
  background-color: rgb(68, 68, 68);
  z-index: 850;
  position: absolute;
  transition: width 2.5s linear;
}

.nav-item {
  height: 50px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.nav-item-active,
.nav-item:hover,
.user-menu-option:hover {
  background-color: rgb(126, 126, 126);
}

#nav-menu-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
}

#user-menu-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
}
/*
***************************************************
********** RIGHT CONTENT STYLES ******************
**************************************************
*/

/* ====== header styles ============ */
.header {
  /* height: 100px; */
}

.profile-pic {
  height: 50px;
  width: 50px;
}

.logo {
  background-color: rgb(177, 27, 27);
  color: #fff;
  border-bottom: 2px #fff solid;
}

.h-95{
  height: 95%;
}

/* ============== userMenu dropdown =============*/
.userMenu {
  height: 150px;
  width: 250px;
  border: 1px solid rgb(177, 27, 27);
  box-shadow: 1px 1px 5px rgb(177, 27, 27);
  position: absolute;
  top: 77px;
  right: 28px;
  z-index: 950;
}

.user-menu-option {
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

/* ====== selected-content styles ============ */

#in-app-router-outlet {
  height: calc(100% - 75px) !important;
  background-color: rgb(228, 228, 228);
}

.router-content {
  padding: 25px;
  height: 100%;
  width: 100%;
}

.center-card {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
}

/*-------------Content-------------*/
/*=====Home=====*/
.background-white {
  background-color: #fff;
}

.profile-info-top {
  height: 30%;
}

.profile-img {
  height: 100%;
  width: 100%;
}

.profile-img-container {
  width: 110px;
  height: 110px;
}

.name-surname {
  font-size: 36px;
}

.profile-info-bottom {
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.info-specification {
  font-size: 18px;
}

.info-value {
  font-size: 20px;
  border-bottom: 2px solid rgb(248, 185, 185);
}

.border-radius-top{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

@media only screen and (min-width: 1200px) {
  .h-xl-100{
    height: 100%;
  }
}
